title: OpenSearch documentation
description: >- # this means to ignore newlines until "baseurl:"
  Documentation for OpenSearch, the Apache 2.0 search, analytics, and visualization suite with advanced security, alerting, SQL support, automated index management, deep performance analysis, and more.

baseurl: "/docs/latest" # the subpath of your site, e.g. /blog
url: "https://victorxst.github.io" # the base hostname & protocol for your site, e.g. http://example.com
permalink: /:path/

opensearch_version: '2.11.0'
opensearch_dashboards_version: '2.11.0'
opensearch_major_minor_version: '2.11'
lucene_version: '9_7_0'

# Build settings
markdown: kramdown
remote_theme: pmarsceill/just-the-docs@v0.3.3

# Kramdown settings
kramdown:
  toc_levels: 2..3
  
logo: "/assets/images/logo.svg"


# Exclude these files from your production _site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME
