<section class="os-banner">
    <header class="banner-head" style="background-image: url('{{site.url}}{{site.baseurl}}/images/graphic-bg.png')">
        <div class="banner-text-div">
            <span class="banner-text-header">OpenSearch 文档</span>
            <p class="banner-text-description">学习使用OpenSearch，这是一个高度可伸缩和可扩展的开源软件套件，用于搜索、分析、可观察性和其他数据密集型应用程序。</p>
        </div>
        <div>
            <button class="btn-contribute"><span>Contribute<svg width="20" viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></span></button>
        </div>
    </header>
</section>   