<div class="div-feedback">
    <div class="feedback-header">此页面是否有帮助？</div>
    <div class="feedback-radio-div">
        <input id="yes" type="radio" name="radio-button" value="yes" class="feedback-button">
        <label class="feedback-radio" for="yes">&#10004; Yes</label> 
        <input id="no" type="radio" name="radio-button" value="no" class="feedback-button">
        <label class="feedback-radio" for="no">&#10006; No</label>
    </div>
    <div class="feedback-text-header">告诉我们原因</div>
    <textarea id="comment" class="feedback-text" placeholder="输入评论" maxlength="350"></textarea>
    <div class="text-small num-chars" id="num-chars">还剩 350 个字符</div>
    <button id="send" class="send-button" disabled>发送</button>
    <p class="text-small text-grey-dk-100 hidden" id="thank-you">感谢您的反馈意见！</p>
    <p class="text-small text-grey-dk-100">有一个问题？<a class="feedback-forum" target="_blank" href="https://forum.opensearch.org/">在 OpenSearch 论坛上询问我们</a>。</p>
    <p class="text-small text-grey-dk-100">想做出贡献吗？<a class="feedback-edit" target="_blank" href="https://github.com/opensearch-project/documentation-website/edit/main/{{ page.path }}">编辑这个页面</a> 或 <a class="feedback-issue" target="_blank" href="https://github.com/opensearch-project/documentation-website/issues/new?assignees=&labels=untriaged&template=issue_template.md&title=%5BDOC%5D">创建一个问题</a>。</p>
</div>